.tsparticles {
    position: fixed; /* Ensure particles cover the entire viewport */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -100; /* Set a negative z-index to place particles behind other content */
  }
  